<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/e0495e7cf3.js" crossorigin="anonymous"></script>

    <title> Admin Panel </title>
</head>
<body class="admin-body">

  <div class="container-fluid">
      <div class="row">

          
      <div class="col-md-2">
          <div class="admin-panel">
               <h1>Welcome to your Admin-page </h1>
          <h3> Refresh to view New bookings </h3>
            <form action="/delete" method="get">
                 <button  class="btn" style="background-color: rgb(245, 40, 4);
                  color:white; font-weight: bold;">  Delete Old bookings  </button>
            </form><br>
            <button class="btn" style="background-color: rgb(6, 197, 6);
             color:white; font-weight: bold;"><a href="index"> Go to Site </a></button><br> 
          </div>  
      </div> 

       <div class="col-md-5 admin-table">

          <h1> Client Details</h1>

          <table class="table table-bordered">
              <tr>
                  <th> Booking ID </th>
                  <th> Name</th>
                  <th> Email </th>
                  <th> Phone No </th>
              </tr>

               {{#each clientInfo}}
              <tr>
                 
                  <td> {{this._id}}</td>
                  <td>  {{this.fullname}} </td>
                  <td> {{this.email}}</td>
                  <td> {{this.phoneNo}} </td>
                  
              </tr>
              {{/each}}

              


          </table>
      </div>

             <div class="col-md-5 admin-table">

          <h1> Booking Details</h1>

          <table class="table table-bordered">
              <tr>
                <th> Booking ID </th>
                  <th> Date </th>
                  <th> Time </th>
                  <th> Service </th>
              </tr>

               {{#each clientInfo}}
              <tr>
                  <td> {{this._id}}</td>
                  <td>  {{this.date}}</td>
                  <td>  {{this.time}} </td>
                  <td> {{this.service}} </td>           
              </tr>
              {{/each}}

              


          </table>
      </div>

      </div>
  </div>
    
</body>
</html>